* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgba(128, 128, 128, 0.233);
  font-family: 'Poppins', sans-serif;
  margin-top: 50px;
}

.input-line {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 101.3%;
  background-color: rgba(247, 241, 241);
  height: 3rem;
  margin-bottom: 5px;
}

.fa-level-down-alt {
  color: rgba(0, 0, 0, 0.185);
  transform: rotate(90deg);
}

#header {
  color: rgba(0, 0, 0, 0.589);
  padding: 5px;
  padding-right: 10px;
  font-family: 'poppins', sans-serif;
  font-size: 0.7rem;
  margin-left: 30px;
  margin-right: 20px;
  display: flex;
  justify-content: space-between;
  background-color: rgba(247, 241, 241);
}

.items-container {
  width: 100%;
  overflow: auto;
  position: relative;
  padding: 30px;
}

.items-container::-webkit-scrollbar {
  width: 5px;
  background-color: #ccc;
}

.items-container::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 10px;
}

.items-container::-webkit-scrollbar-track {
  background-color: #ccc;
}

.container {
  width: 90%;
  position: relative;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 5px;
  padding: 30px;
}

.task {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 90%;
  padding: 10px;
  margin-bottom: 4px;
}

.input {
  display: flex;
  align-items: center;
  outline: none;
}

input[type='text'] {
  border: none;
  box-sizing: border-box;
  background-color: rgba(247, 241, 241);
  outline: none;
  height: 90%;
  width: 100%;
  font-size: 20px;
}

input[type='checkbox'] {
  margin: 15px;
}

.input-container {
  display: flex;
  align-items: center;
  width: 100%;
}

.mc {
  width: 101.3%;
  height: 3rem;
  display: flex;
  font-family: 'poppins', sans-serif;
}

.mc input[type='text'] {
  padding-left: 30px;
  font-size: 15px;
  color: rgba(0, 0, 0, 0.568);
}

.span {
  background-color: rgba(247, 241, 241);
  height: 2.7rem;
  font-size: 22px;
  width: 3rem;
  text-align: center;
  padding-top: 8px;
}

.fa-trash-alt:hover {
  color: green;
}

.delete {
  background-color: rgb(206, 202, 202);
  text-align: center;
  min-height: 10vh;
  align-items: center;
  display: flex;
  justify-content: center;
  font-size: 24px;
  width: 96%;
  margin-left: 30px;
}

.textdelete {
  font-size: 20px;
  color: rgb(49, 48, 48);
  font-family: 'poppins', sans-serif;
  border: none;
  background-color: rgb(206, 202, 202);
}

.textdelete:hover {
  text-decoration: underline;
}

.refresh {
  animation: rotate 0.5s linear infinite;
}

.dotbtn {
  float: right;
  padding: 10px;
  font-size: 18px;
  cursor: crosshair;
  color: rgba(0, 0, 0, 0.322);
}

.dltbtn {
  float: right;
  color: rgba(0, 0, 0, 0.322);
  font-size: 18px;
  font-weight: bold;
  padding: 10px;
  visibility: hidden;
  opacity: 0;
  line-height: 0;
  cursor: default;
  transition: all 0.1s ease-in-out;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
}

input[type='checkbox']:checked ~ .dltbtn {
  visibility: visible;
  opacity: 1;
}

input[type='checkbox']:checked ~ .dotbtn {
  display: none;
}

input[type='checkbox']:checked ~ input {
  text-decoration: line-through;
  opacity: 0.5;
  font-style: italic;
}

.iconss {
  padding-top: 5px;
  font-size: 20px;
  cursor: pointer;
  color: rgba(136, 136, 136, 0.301);
}

input [type='checkbox']:checked {
  background-color: #fff;
}
